<tr class="result hover_cell">
	<% authors = Book.find(result.id).authors.collect{ |author| author.au_fname + " " + author.au_lname } %>

	<td>
		<a class="title" data-link="<%= book_path(result) %>"> <%= result.send(:title) %> </a>
		<p class="authors"> <%= authors.sort_by!{ |b| b.downcase }*", " %> </p>
	</td>
	<td class="price">
		$<%= result.post.price %>
	</td>
	<td class="date">
		<%= result.created_at.to_date.to_formatted_s(:long_ordinal) %>
	</td>
</tr>