<div id="sidebar">
	<%= post.text_field :authors_au_fname_or_authors_au_lname_cont, :value => @query[:author], :placeholder => "Author", :class => "form-control invisible_input" %>
	<%= post.text_field :courses_department_cont, :value => @query[:course], :placeholder => "Department" , :class => "form-control invisible_input" %>
	<%= post.text_field :post_price_gteq, :value => @query[:price_min], :placeholder => "Min", :class => "form-control invisible_input" %>
	<%= post.text_field :post_price_lteq, :value => @query[:price_max], :placeholder => "Max", :class => "form-control invisible_input" %>
	<button type="submit" class="btn btn-default search-bar">
		<i class="fa fa-search"></i>
	</button>
	<div class="alert-container col-md-12 col-sm-12">
		<% if @query.id %>
			<p> Can't find your book?</p>
			<%= link_to "Receive an email when a match is posted", alert_search_path(@query), method: :put %>
		<% end %>
	</div>
</div>