<div class="container">
	<%= search_form_for @search, url: searches_path, :html => {:class => "input-group input-group-lg"} do |f| %>
		<%= render 'sidebar', :post => f %>
		<%= render 'search_bar', :post => f %>
	<% end %>
</div>
<div id="content-container" class="col-md-12">
	<%= debug @search %>
	<%= content_tag :p, display_query_sql(@results) if false %>
	<% unless @results.empty? %>
		<div id="results-container">
			<%= @results.to_sql if false%>
			<table id="results" class='table table-hover'>
				<thead>
					<%= content_tag(:th, sort_link(@search, :title_case_insensitive, 'Title'), class: 'col-sm-8') %>
					<%= content_tag(:th, sort_link(@search, :post_price), class: 'col-sm-2') %>
					<%= content_tag(:th, sort_link(@search, :created_at, "Posted"), class: 'col-sm-2') %>
				</thead>

				<tbody class="page">
					<%= render partial: 'result', collection: @results %>
				</tbody>
			</table>
		</div>
	<% else %>
		<div class="awk-container">
			<p class="awkward-message"> Well, this is awkward... </p>
			<p class="no-match awkward-message"> No posts matched your search </p>
			<%= link_to "Click here to receive an email when a match is posted", searches_path(@query), method: :post, class: "get-alert" %>
		</div>
	<% end %>

	<%= paginate @results %>
</div>